<style type="text/css">
span {
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}
.sc0 {
	font-weight: bold;
}
.sc1 {
	color: #0000FF;
}
.sc3 {
	color: #FF0000;
}
.sc4 {
}
.sc6 {
	font-weight: bold;
	color: #8000FF;
}
.sc8 {
}
.sc21 {
	background: #A6CAF0;
}
.sc26 {
}
.sc40 {
}
.sc41 {
	background: #F2F4FF;
}
.sc46 {
	background: #F2F4FF;
}
.sc47 {
	font-weight: bold;
	font-style: italic;
	color: #000080;
	background: #F2F4FF;
}
.sc50 {
	font-weight: bold;
	background: #F2F4FF;
}
</style>
